* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 252px;
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.nav {
    width: 100%;
    flex: 1;
    padding-block: 30px;
}

.nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-item {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: #8E92BC;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
}
.nav-item .active {
  
    background-color: #F5F5F7;
  
}
.nav-item a:hover {
  
    background-color: #F5F5F7;
  
}

.nav-item a img {
    margin-right: 15px;
    filter: brightness(0) saturate(100%) invert(63%) sepia(10%) saturate(1040%) hue-rotate(197deg) brightness(93%) contrast(83%);
}
.nav-item .active img, .active p {
    filter: brightness(0) saturate(100%) invert(5%) sepia(22%) saturate(6071%) hue-rotate(216deg) brightness(93%) contrast(109%);
}
.nav-item a:hover img, a:hover p {
    filter: brightness(0) saturate(100%) invert(5%) sepia(22%) saturate(6071%) hue-rotate(216deg) brightness(93%) contrast(109%);
}

.help-center {
    position: relative;

    width: 100%;
    border-radius: 10px;
    background-color: #0C0507;
    color: #fff;
}

.help_reflection_overflow {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.reflection_top_left,
.reflection_bottom_right {
    border-radius: 50%;
    background-color: #e1f5fe1a;
    position: absolute;
    padding: 62px;
}

.reflection_top_left {
    top: -62px;
    left: -62px;
}

.reflection_bottom_right {
    bottom: -62px;
    right: -62px;
}

.help-center .help_inner {

    margin-bottom: -10px;
}

.help-center .help_inner_info {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    position: relative;
    top: -25px;

}

.help-center .question {
    width: 48px;
    height: 48px;
    background-color: #f9f7f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 20px 3px #6579a2b5;
}

.help-center .question .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #0C0507;
    border-radius: 50%;
}

.help-center .content {
    flex: 1;

}



.help-center h2 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 12px;

}

.help-center p {
    font-size: 11px;
    font-weight: 350;
    width: 152px;
}

.help-center button {
    width: 100%;
    padding: 10px 22px;
    background-color: #fff;
    color: #0C0507;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto;
}