

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
    padding-block: 32px;
}
.main_avator {
    display: flex;
    align-items: center;
    gap: 20px;
}
.main_avator .avator {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}